@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Syne:wght@400..800&display=swap');

h1{
    display: block;
    font-size: 38px;
    line-height: 44px;
    margin: .67em 0;
    unicode-bidi: isolate;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}

body{
    background-color: #2a3f3f;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

#nav-con{
    height: 60px;
    position: relative;
    background-color: #2a3f3f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
}

.logo{
    display: inline;
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
}

.comname{
    font-family: "Merriweather", sans-serif;
    margin-right: 807px;
    color: #e0e8e2;
}

.active{
    color: rgb(0, 192, 38);
}

ul{
    width: 650px;
    background-color: #e0e8e2;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-right: 30px;
    border-radius: 20px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-top: 15px;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul li a{
    text-decoration: none;
    color: #2a3f3f;
    font-size: 16px;
    font-family: "Merriweather" , sans-serif;
    font-weight: bold;
    padding: 10px 10px;
    transition: all 0.3s;
    position: relative;
}

a:hover{
    color: rgb(0, 192, 38);
}

*{
    box-sizing: border-box;
}





.footer {
    display: block;
    mix-blend-mode: normal;
    background-color: #0000;
    border: 1px #000;
    min-height: 0;
    margin-bottom: 100px;
    font-size: 16px;
}

.paragraph-2 {
    color: #e0e8e2;
    text-align: center;
}